In [1]:
# Dependencies
import sqlalchemy
import matplotlib
import matplotlib.pyplot as plt

from sqlalchemy import create_engine, inspect
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

import pandas as pd

In [2]:
engine = create_engine(f"postgresql://postgres:postgres@localhost:5432/sql_challenge_db?sslmode=disable") 
conn = engine.connect()

In [9]:
inspector = inspect(engine)
inspector.get_table_names()

['employees', 'dept_emp', 'departments', 'dept_manager', 'salaries', 'titles']

In [4]:
cols = inspector.get_columns('salaries')
for c in cols:
    print(c['name'], c['type'])

emp_no INTEGER
salary INTEGER
from_date DATE
to_date DATE

In [10]:
Base = automap_base()
Base.prepare(engine,reflect=True)

In [11]:
Base.classes.keys()

['employees', 'departments']

In [7]:
session = Session(engine)

In [8]:
results = session.query(salaries.emp_no, salaries.salary)

NameError: name 'salaries' is not defined